/*Header Styling*/

header  {
  
  
  position: fixed;
  font-size: 20px;
  top:0;
  left: 0;
  right: 0;
  color: white; 
  background-color: #2EC4B6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
}

nav-brand {
  color: white
}


header nav ul{
  list-style-type: none;
  padding:1px;
  min-width: max-content;
   
}

header nav ul a {
  text-decoration: none;
}
header nav ul li{
  margin: 5px auto;
}

h1, h2{
  text-align: center;
  margin: 5px auto;
}

h3{
  font-size: 20px; 
  color: #481D02;
}

/*Body Styling*/

body{
  margin-top:200px
}

section{
  margin: 1px; 
}



.me-img{
  border-radius: 75%;
}

img{
  width: 100%;
}

.large-text{
  font-size: 20px; 
}

main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 10px; 
}

.wrapper {
  margin: auto;
  width: 70%; 
}

hr /*stylized horizontal ruler*/ {
  height:5px ;
  border: #2EC4B6;
  background-color: #2EC4B6;
  width: 50%; 
}



.col-group{
  display: flex;
  flex-direction: column;
  align-items: baseline; 
  flex-wrap: wrap; 
  justify-content: space-between;
}

.item{
  flex: 1;
  margin: 10px;
  justify-content: center; 
   
}

.item-border{
  flex: 1;
  border: 2px solid #FF9F1C;
  margin: auto; 
  padding: 5%; 
  justify-content: fl;
  
}

.item-double{
  flex: 2; 
  margin: 10px; 
}

.div-space{
  padding: 10px; 
}

/*Contact Form Styling*/

fieldset{
  border-color: #2EC4B6;
  border-radius: 3px; 
}

legend{
  font-size: 20px;
}

form label {
  display: block;
  color: #2EC4B6;
  font-size: 16px; 
}

form button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background:#2EC4B6;
  color: black;
  margin: 0 8px 10px 0;
}

form input,
form textarea {
  width: 100%;
}

/*Footer Styling*/ 

footer  {
  background-color: #FFBF69;
  padding: 20px;
  text-align: right;
  color: #2EC4B6;
}

footer a { color:#2EC4B6; }
footer a:visited{ color: #CBF3F0}


/*Media Query*/

@media all and (min-width: 600px) {

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;  
  }

  header nav {
    margin-top: 10px;
  }
  
  section{
    padding: 10px;
  }

 

  .col-group{
    display: flex;
    flex-direction: row;
    align-items: baseline; 
    flex-wrap: wrap; 
    justify-content: space-between;
  }
}

/*Links Styling*/
a:link    { color:#FFBF69  }
a:visited { color: #FFBF69;   }
a:hover   { color:#CBF3F0; }
a:active  { color:#CBF3F0;  }
